<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Goku
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="usuario">
      <ion-col>
        <img src="../../assets/imagenes/goku1.jpg" alt="foto de perfil">
      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">9</ion-label>
        <ion-label>Posts</ion-label>
      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">9</ion-label>
        <ion-label>Followers</ion-label>
      </ion-col>
      <ion-col class="datos">
        <ion-label class="bold">9</ion-label>
        <ion-label>Following</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="descripcion">
      <ion-col>
        <ion-label class="nombre">
          Goku
        </ion-label>
        <ion-label>
          Goku le gana
          <br>
          <a href="#">xd</a>
          <ion-button>Edit Profile</ion-button>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row id="posts">
      <ion-col class=".inner-posts">

        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="../../assets/imagenes/g1.png" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g2.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g3.jpg" alt="">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <img src="../../assets/imagenes/g4.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g5.png" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g6.png" alt="">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <img src="../../assets/imagenes/g7.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g8.jpeg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g9.jpg" alt="">
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <img src="../../assets/imagenes/g10.jpg" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g11.png" alt="">
            </ion-col>
            <ion-col>
              <img src="../../assets/imagenes/g12.jpg" alt="">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
